<section id='contact'  class="page-section">
  <div id="contactlist">
    <ul class="contactlist">
      <li class="contactitem">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Manager</h5>
            <p class="card-text">Email: care4youjbsroyaltouch.com</p>
            <p class="card-text">Tel: +91-9776499609</p>
            <p class="card-text">Address: <br>
            JBC House: A/87, Mancheswar Industrial Estate,Bhubaneswar</p>
            <a href="mailto:care4youjbsroyaltouch.com" class="btn btn-primary"><i class="far fa-envelope"></i></a>
          </div>
        </div>
      </li>
      <li class="contactitem">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Media Inquiries & Requests</h5>
            <p class="card-text">Email: care4you@jbsroyaltouch.com</p>
            <p class="card-text">Tel: +91-9776499609</p>
            <p class="card-text">Address: <br>
            JBC House: A/87, Mancheswar Industrial Estate,Bhubaneswar</p>
            <a href="mailto:care4youjbsroyaltouch.com" class="btn btn-primary"><i class="far fa-envelope"></i></a>
          </div>
        </div>
      </li>
      <li class="contactitem">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Events / Bookings</h5>
            <p class="card-text">Email: care4youjbsroyaltouch.com</p>
            <p class="card-text">Tel: +91-9776499609</p>
            <p class="card-text">Address: <br>
            JBC House: A/87, Mancheswar Industrial Estate,Bhubaneswar</p>
            <a href="mailto:care4youjbsroyaltouch.com" class="btn btn-primary"><i class="far fa-envelope"></i></a>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div id="enquiry">

  </div>

</section>